html,
body {
  height: 100%;
}

/* Estilos generales para toda la página */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Encabezado y navegación */
header {
  padding: 1rem;
}

header h1 {
  margin: 0;
}

nav {
  padding: 0.5rem;
  margin-top: 1rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 1rem;
}

nav a {
  padding: 0.5rem 1rem;
}

/* Contenido principal */
main {
  max-width: 70%; /* TODO: pasar a rem */
  margin: 0 auto;
  padding: 2rem;
  flex: 1;
}

main::after {
  content: "";
  display: block;
  height: 5rem; /* Debe ser al menos la altura del footer */
}

section {
  padding: 2rem;
}

h2 {
  padding-bottom: 0.5rem;
  margin-top: 2rem;
}

main p {
  text-align: justify;
  margin-bottom: 1.5rem;
}

/* Imágenes */
picture {
  display: block;
  margin: 2rem auto;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

/* Listas */
ol,
ul {
  padding-left: 2rem;
}

ol li,
ul li {
  margin-bottom: 0.5rem;
}

ul ul {
  margin-top: 0.5rem;
}

dl {
  padding: 1.5rem;
}

dt {
  margin-top: 1rem;
}

dt:first-child {
  margin-top: 0;
}

dd {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

/* Tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
}

caption {
  margin-bottom: 0.5rem;
}

th,
td {
  padding: 0.75rem;
  text-align: left;
}

/* Pie de página */
footer {
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}

/* Diseño responsivo */
@media screen and (max-width: 768px) {
  main {
    padding: 1rem; /* Redefinicion de padding */
    max-width: 90%; /* Redefinicion de max-width */
    transition: max-width 0.5s ease;
  }

  section {
    padding: 1.5rem; /* Redefinicion de padding */
  }

  header h1 {
    font-size: 1.8rem; /* Redefinicion de font-size */
  }

  nav ul {
    flex-direction: column; /* Redefinicion de direccion */
    align-items: center;
  }

  nav li {
    margin: 0.3rem 0; /* Redefinicion de margin */
  }
}
